# ==========================================
# Python
# ==========================================

__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/
env/

# ==========================================
# VS Code
# ==========================================

.vscode/

# ==========================================
# Build
# ==========================================

build/
dist/
*.egg-info/

# ==========================================
# Logs
# ==========================================

*.log

# ==========================================
# Temporary files
# ==========================================

*.tmp
*.temp

# ==========================================
# Cache
# ==========================================

.pytest_cache/
.mypy_cache/

# ==========================================
# Operating System
# ==========================================

Thumbs.db
.DS_Store

# ==========================================
# Archives
# ==========================================

*.zip
*.rar
*.7z

# ==========================================
# Native Project Backup
# ==========================================

*.bak
*.old
*.backup